# AWS Credentials
.aws/
*.pem

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# Backups
backups/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/
